<div ng-include="'navbar.html'"></div>

<div ng-controller="proDevelopmentCtrl as vm" class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">HOME</a></li>
                <li class="active">ABOUT SHARE MY LESSON</li>
            </ol>
            <h2 class="title">
                ABOUT SHARE MY LESSON
            </h2>
            <hr>
            <iframe width="100%" height="650" allowfullscreen="" src="https://www.youtube.com/embed/909DI1rkwVo">

            </iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <h2>
                About Share My Lesson
                <br><br>

            </h2>
            Free lesson sharing, funded by the
            <a href="https://www.aft.org/">
                Free lesson sharing, funded by the American Federation of Teachers.
            </a>
            <br>
            <br>
            <p>
                Built by educators across the country, we bring together a community of teachers, paraprofessionals,
                school-related personnel, parents, educational partners, union members and non-union members to join in
                our effort to provide high-quality education to all students. Share My Lesson was created by the AFT and TES Global in 2012.
                From the beginning, Share My Lesson has been committed to providing our community of members high-quality and effective lessons, useful information to use in the classroom and professional development. As of 2017, Share My Lesson has 1 million members, more than 400,000 Toddler -
                Grade 12 resources which have been downloaded more than 12 million times.
            </p>
            <br><br>
            <p>
                Listent to AFT President Randi Weingarten discuss why the AFT created Share My Lesson.
            </p>
            <br>
            <iframe frameborder="0" height="315" src="https://www.youtube.com/embed/61nXpmDUHDo" width="560"></iframe>
        </div>
        <div class="col-md-3">
            <div id="our-promise-section" class="text-center">
                <h3 class="block-heading">
                    OUR PROMISE
                </h3>
                <br><br><br>
                <p>
                    Share My Lesson is committed to providing a trusted community where members can download and share quality lessons free of charge forever.

                    Share My Lesson is a destination for educators who dedicate their time and professional
                    expertise to provide the best education for students everywhere. Share My Lesson members contribute content,
                    share ideas, get educated on the topics that matter, online, 24/7. We issue Creative Commons licenses,
                    and we do not share our members' private data with anyone.
                </p>
            </div>
        </div>
    </div>
</div>