
<div ng-include="'navbar.html'"></div>
<div class="container-fluid">
    <div style="background-image: url(./assets/img/bg_lesson.jpg)" id="lesson_bg">
        <div class="text-center">
            <div id="search-sec">
                <label for="search"></label>
                <input placeholder="FIND LESSON FAST..." type="text" id="search">
                <button class="btn btn-danger">
                    <span class="glyphicon glyphicon-search">
                        SEARCH
                    </span>
                </button>
            </div>
            <div id="caption">
                <br>
                <h3>
                    SUMMER LEARNING
                </h3>
                <p>
                    Get resources to help your students avoid the “summer slide.”
                </p>
                <br>

                <a href="#">
                    <button class="btn btn-danger">
                        FIND THE RIGHT LESSON
                    </button>
                </a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="text-center" id="options-heading">
        <p>
            FIND THE RIGHT RESOURCES
        </p>
        <h3>
            LESSONS BY EDUCATION LEVEL
        </h3>
        <br><br>
    </div>
    <div id="five-column-img" class="row">
        <div class="item">
            <img src="assets/img/img_reasources_1_0.jpg">
            <div class="title text-center">
                <h4>
                    EARLY CHILDHOOD
                </h4>
            </div>
            <div class="onclick-info text-center">
                <p>
                    Includes a range of effective early education resources to help set a strong
                    foundation for young students.
                </p>
                <br>
                <a href="#!view/grades/pre-school">
                    <button class="btn btn-danger">
                        VIEW LESSON
                    </button>
                </a>
            </div>
        </div>
        <div class="item">
            <img src="assets/img/img_reasources_2_0.jpg">
            <div class="title text-center">
                <h4>
                    EARLY ELEMENTARY
                </h4>
            </div>
            <div class="onclick-info text-center">
                <p>
                    Early elementary resources on learning center ideas, number charts,
                    vocabulary building activities and more.
                </p>
                <br>
                <a href="#!view/grades/early-elementary">
                    <button class="btn btn-danger">
                        VIEW LESSON
                    </button>
                </a>
            </div>
        </div>
        <div class="item">
            <img src="assets/img/img_reasources_3_0.jpg">
            <div class="title text-center">
                <h4>
                    LATE ELEMENTARY
                </h4>
            </div>
            <div class="onclick-info text-center">
                <p>
                    From fractions to informational texts to civics,
                    find the lesson plans you need to help your students succeed.
                </p>
                <br>
                <a href="#!view/grades/late-elementary">
                    <button class="btn btn-danger">
                        VIEW LESSON
                    </button>
                </a>
            </div>
        </div>
        <div class="item">
            <img src="assets/img/img_reasources_4_0.jpg">
            <div class="title text-center">
                <h4>
                    MIDDLE SCHOOL
                </h4>
            </div>
            <div class="onclick-info text-center">
                <p>
                    Discover relevant and engaging lessons for 6th - 8th
                    graders as they take on more advanced subjects.
                </p>
                <br>
                <a href="#!view/grades/middle-school">
                    <button class="btn btn-danger">
                        VIEW LESSON
                    </button>
                </a>
            </div>
        </div>
        <div class="item">
            <img src="assets/img/img_reasources_5_0.jpg">
            <div class="title text-center">
                <h4>
                    HIGH SCHOOL
                </h4>
            </div>
            <div class="onclick-info text-center">
                <p>
                    From arts to world history and every subject in between,
                    Share My Lesson has an array of targeted resources for high school and beyond.
                </p>
                <br>
                <a href="#!view/grades/high-school">
                    <button class="btn btn-danger">
                        VIEW LESSON
                    </button>
                </a>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-12" id="educator-helper">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="assets/img/slide_ask_answer_1_0_0.png">
                        </div>
                        <div id="info-text" class="col-md-7">
                            <p>
                                HOW WE HELP EDUCATORS
                            </p>
                            <h3>
                                GET A LESSON TODAY
                            </h3>
                            <br><br>
                            <div id="mid-educator-content" class="row">
                                <div class="col-md-3">
                                    <div id="icon-search">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </div>
                                </div>
                                <div id="text-search-info" class="col-md-9">
                                    Search more than 420,000 FREE lesson plans and activities including curated collections.
                                    We know you need plenty of time to plan,
                                    so this week we're sharing our collection of resources for : Poetry Appreciation
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    <div style="background-image: url(./assets/img/reviews.jpg)" id="testimonial">
        <div class="container">
            <div class="text-center">
                <p class="text-center block-title">
                    WHAT TEACHERS ARE SAYING
                </p>
                <h3>
                    TESTIMONIALS
                </h3>
            </div>
            <br><br>
            <div id="four-column-testimonies" class="row">
                <div class="col-md-3">
                    <div class="text-center">
                        <img src="assets/img/testimonial/adam_0.jpg" class="img-circle">
                        <p>
                            <em>
                                [Uploading lessons] is a great, cathartic and productive process, and it has helped me see where
                                I used to be as a teacher and where I am now.
                            </em>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-center">
                        <img src="assets/img/testimonial/amber_0.jpg" class="img-circle">
                        <p>
                            <em>
                                The lessons that I download from ShareMyLesson.com are lessons that are clearly written and
                                have strong graphics. The visuals are another inroad
                                for my students who may not completely comprehend written instructions.
                            </em>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-center">
                        <img src="assets/img/testimonial/IMK_0.jpg" class="img-circle">
                        <p>
                            <em>
                                I would love my son's teacher to use this--that's how good it is!
                            </em>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-center">
                        <img src="assets/img/testimonial/theresa_0_0.jpg" class="img-circle">
                        <p>
                            <em>
                                Very creative. Good videos. Activity directions easy to follow.
                            </em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div ng-controller="footerCtrl as vm" id="footer">
        <p id="heading" class="text-center">
            LESSONS BY GRADE
        </p>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <img src="assets/img/logo_footer.png">
                    <br>
                    <p id="share-lesson" class="small">
                        Share My Lesson is a destination for educators who dedicate their time and professional expertise to
                        provide the best education for students everywhere. Share My Lesson members contribute content,
                        share ideas, get educated on the topics that matter, online, 24/7. We issue Creative Commons licenses,
                        and we do not share our members' private data with anyone.
                    </p>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div ng-repeat="(grade, subjects) in vm.data" class="col-md-6">
                            <h3 id="grade">
                                {{grade | uppercase}}
                            </h3>
                            <p class="small" ng-repeat="subject in subjects">
                                <a href="#!view/resources?grade={{grade}}&subject={{subject}}">
                                    {{subject}}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

