<div ng-include="'navbar.html'"></div>

<div ng-controller="proDevelopmentCtrl as vm" class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">HOME</a></li>
                <li class="active">PARTNERS</li>
            </ol>
            <h2 class="title">
                PARTNERS
            </h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div id="consource">
                <div class="media">
                    <div class="media-left">
                        <img src="assets/img/partners/ConSource.jpg">
                    </div>
                    <div class="media-body">
                        <p class="block-title">
                            PARTNER OF THE WEEK
                        </p>
                        <h3 class="block-heading">
                            Constitutional Sources Project (ConSource)
                        </h3>
                        <em>
                            Over the last 10 years, The Constitutional Sources Project (ConSource) has connected thousands
                            of American citizens of all ages to our nation’s constitutional history by
                            creating a comprehensive, easily searchable, fully-indexed, and freely accessible digital
                            library of historical sources related to the creation, ratification, and amendment of
                            the United States Constitution. Our team not only curates important digital collections of
                            historical materials, but also creates research reports and educational resources to meet
                            the specific needs of scholars and authors, legal practitioners and government officials,
                            educators and students, journalists and the general public.
                        </em>
                        <br><br>
                        <button class="btn btn-danger">
                            SEE FULL PROFILE
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="partner-pledge" class="text-center">
                <p>
                    SHARE MY LESSON
                </p>
                <p class="block-title">
                    PARTNER PLEDGE
                </p>
                <br><br><br>
                <em>
                    “When you partner with Share My Lesson, you can rest assured that you’re aligning with a trusted community of educators.
                    Any content you upload will ALWAYS remain the property of your organization.”
                </em>

            </div>
        </div>
    </div>
    <div class="row">
        <br><br>
        <div id="partner-sub-heading-center" class="text-center">
            <p class="block-title">
                THE SHAREMYLESSON PARTNER
            </p>
            <h2 style="margin-top: 0" class="block-heading">
                OFFERS & CONTESTS
            </h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <img src="assets/img/partners/SML_WW_image_ad01b.jpg">
            </div>
            <div class="col-md-4">
                <img src="assets/img/partners/ad_teach2017.png">
            </div>
            <div class="col-md-4">
                <img src="assets/img/partners/partner.jpg">
            </div>
        </div>
    </div>
</div>