<div ng-include="'navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">HOME</a></li>
                <li class="active">STANDARDS</li>
            </ol>
            <br>
            <h2>
                STANDARDS CENTER
            </h2>
            <hr>
            <br>
            <p>
                Whether you are looking for a lesson aligned to a Common Core State Standard,
                Next Generation Science Standard, or a lesson aligned to your state standard in English, Math, Science,
                and Social Studies, at Share My Lesson we have you covered. We stay up-to-date on
                any changes to yourstandards so that you can find or tag your
                uploaded resource to the standard you teach.
            </p>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="image-block" id="image-block-aqua-bg">
                        <img src="assets/img/standards/find.png">
                    </div>
                    <div class="gray-bg-block">
                        <h2 class="block-heading">FIND</h2>
                        <p class="block-title">LESSON WITH STANDARDS</p>
                        <p style="border-bottom: 1px solid black"></p>
                        <br>
                        <p>
                            Look for a lesson or teaching resource aligned
                            to the standard you are teaching.
                        </p>
                        <br>
                        <button class="btn btn-danger">
                            GET STARTED
                        </button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image-block" id="image-block-primary-bg">
                        <img src="assets/img/standards/add.png">
                    </div>
                    <div class="gray-bg-block">
                        <h2 class="block-heading">
                            ADD
                        </h2>
                        <p class="block-title">
                            STANDARDS TO YOUR UPLOADS
                        </p>
                        <p style="border-bottom: 1px solid black"></p>
                        <br>
                        <p>
                            Upload or edit your lessons and resources and align them to standards.
                        </p>
                        <br>
                        <button class="btn btn-danger">
                            GET STARTED
                        </button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image-block" id="">
                        <img src="assets/img/standards/learn.jpg">
                    </div>
                    <div class="gray-bg-block">
                        <h2 class="block-heading">
                            LEARN
                        </h2>
                        <p class="block-title">
                            HOW TO ADD STANDARDS
                        </p>
                        <p style="border-bottom: 1px solid black"></p>
                        <br>
                        <p>
                            Discover two easy ways to add standards to your lessons.
                        </p>
                        <br>
                        <button class="btn btn-danger">
                            GET STARTED
                        </button>
                    </div>
                </div>
                <br>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <h3 id="validated-lesson">Validated Lessons</h3>
                    <br>
                    <p>
                        We have a cadre of education experts hard at work validating aligned lessons.
                        If you see a lesson tagged with a standard in a green box (),
                        it means that our SML education experts validated that the
                        lesson was alignedto the correct standard.
                        Want to get your lessons validated? Email us at standard@sharemylesson.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div ng-include="'footer.html'"></div>